.main{
    height: 100vh;
  
    .mask, .body{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #e6e6e6;
      font-weight: 500;
      font-size: 64px;
      line-height: 82px;
      cursor: none;
      
      p{
        width: 1000px;
        padding:40px;
      }
      span{
        color: #3fffac;
      }
    }
  
    .mask{
      mask-image: url('../../../../public/mask.svg');
      mask-repeat: no-repeat;
      mask-size: 40px;
      background: #3fffac;
      position: absolute;
      color: black;
    }
  }